<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Larixs.GitHub.io by Larixs</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>Larixs.GitHub.io</h1>
          <h2>技术小白Larixs</h2>
          <p>我要成为天下第一女码农</p>
        </header>

        <section id="downloads" class="clearfix">
            <a href="../index.html" class="button"><span>返回首页</span></a>
        </section>
        <article>
          <h2>2016(0523-0529）</h2>

          <section>
            <h3>本周工作内容：</h3>
            <ol>
              <li>调研了iframe直播的可用性</li>
              <li>协助同事完成了一部分专题页面</li>
              <li>修复了ios粘性布局bug</li>
              <li>自学前四章jquery</li>
              <li>完成了IFE task3-38,task3-39</li>
            </ol>
          </section>

          <section>
            <h3>工作状态</h3>
            <ul>
              <li>每天困顿，无精打采</li>
              <li>小组长没有给活干，我该主动去问吗？但是这周末有考试</li>
            </ul>
          </section>


          <section>
            <h3>学到的新知识点：</h3>
            <ol>
              <li>iframe中若要等比缩小页面，则用scale属性设置。（网上多提到zoom，可是在chrome下不成功）</li>
              <li>visibility:hidden 是隐身，即实体依然存在,而 display:none 是消失，浏览器不会渲染它。</li>
              <li> 学习了border-image的基本知识，目前不用。<a href="http://www.zhangxinxu.com/wordpress/2010/01/css3-border-image%E8%AF%A6%E8%A7%A3%E3%80%81%E5%BA%94%E7%94%A8%E5%8F%8Ajquery%E6%8F%92%E4%BB%B6/ "> border-image 详解</a></li>
              <li> style.height 和 offsetHeight的区别（<a href="http://blog.csdn.net/yelbosh/article/details/17412473">详情点击</a>）：
                <ul>
                  <li>前者获取的值带单位，后者获取的值不带单位（非常方便计算）。</li>
                  <li>前者获取的是css样式（包括通过js写入的），而后者获取的是实际高度。</li>
                  <li>offsetHeight获取的是内容加上下padding加border的高度</li>
                </ul>
              </li>
              <li>offsetTop是相对于<strong>顶部</strong>或者父元素(??)的距离</li>
              <li>设置了!important的属性值，其优先级最高，覆盖其他同属性的值。IE6.0不支持。</li>
              <li>tr的display属性的默认值是table-row。</li>
            </ol>

          </section>



          <section>
            <h3>下周应该：</h3>
            <ul>
              <li>继续学习和实践jQuery。</li>
              <li>学习AJAX</li>
              <li>继续做IFE.</li>
              <li>至少做一个专题页。</li>
              <li>优化博客样式。</li>
            </ul>
          </section>
        </article>

        
      </div>
    </div>
  </body>
</html>
