<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Larixs.GitHub.io by Larixs</title>
</head>

<body>
<div id="container">
    <div class="inner">

        <header>
            <h1>Larixs.GitHub.io</h1>
            <h2>技术小白Larixs</h2>
            <p>我要成为天下第一女码农</p>
        </header>

        <section id="downloads" class="clearfix">
            <a href="../index.html" class="button"><span>返回首页</span></a>
        </section>
        <article>
            <h2>2016(0530-0605）</h2>

            <section>
                <h3>本周工作内容：</h3>
                <ol>
                    <li>了解了gulp、node.js</li>
                    <li>基本完成了模考活动专题页</li>
                    <li>学习了ajax</li>
                </ol>
            </section>

            <section>
                <h3>工作状态</h3>
                <ul>
                    <li>自己学习看书,还没有开始动手实践。感觉非常困</li>
                </ul>
            </section>


            <section>
                <h3>学到的新知识点：</h3>
                <ol>
                    <li>.Person(){
                        }
                        <br/>
                        Person.prototype={
                        }
                        <br/>
                        如果在Person中return了一个X，则var Y=new Person()中的Y是X类型的对象，而不是Person的对象</li>
                    <li>从fragment插入到最终document里这步，同document.innerHTML的性能差不多。
                        <br/>
                        fragment在的dom操作逻辑清晰，但是步骤比innerHTML多一点</li>
                    <li> 避免使用table布局  没有div灵活，且重绘时消耗更多的时间。
                        <br/>
                        多次重绘重排对于多次访问DOM来说更加耗时</li>
                    <li> jQuery提倡尽量使用原生的js方法</li>
                    <li>如何在网页中显示代码?
                        <br/>
                        使用code，pre标签。其中"< " ">" 需要转码(应该不止这两个符号转码?)</li>
                    <li>加载一些重复背景时，可将原图剪裁得比较小，使用background-repeat:repeat，避免背景图片过大。使用base64转码也是个主意,使一张图片变成一条巨长的代码,大小是缩小了,但是不利于SEO。</li>
                    <li>想要背景透明而文字不透明，则可以使用background-color:rgba()。opacity 会使文字一起透明。</li>
                </ol>

            </section>



            <section>
                <h3>下周应该：</h3>
                <ul>
                    <li>学习和实践ES2015</li>
                    <li>完善模考活动专题页</li>
                </ul>
            </section>
        </article>


    </div>
</div>
</body>
</html>
