<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" type="text/css" href="../sass/article.css">
  <title>Larixs.GitHub.io by Larixs</title>
</head>

<body>
<div id="container">
  <header>
    <a href="../index.html" class="mainPage">返回首页</a>
    <a href="https://github.com/Larixs" class="github"><span>View on GitHub</span></a>
  </header>
  <div class="banner">
    <span id="welcome">Welcome to Larixs's blog</span>
  </div>
  <div class="inner">
        <article>
          <h2>第一次工作总结（先写内容，后面再来优化样式）</h2>
          <section>
            <h3>工作主题：</h3>
            完成一个招商推广页面。
          </section>
          <section>
            <h3>工作周期：</h3>
            从开发到最终上线，6天。起始日期：5月13日。
          </section>

          <section>
            <h3>工作内容：</h3>
            <ol>
              <li>分块展示内容</li>
              <li>最底部有tab切换，点击title切换内容。</li>
              <li>最底部的tab切换栏要做成粘性滚动</li>
              <li>点击案例区域，弹出案例详情。点击案例详情的返回按钮，回到案例区域</li>
              <li>手机自适应（前端组觉得需要，但是产品想要写死。个人觉得手机应该做自适应）</li>
            </ol>
          </section>


          <section>
            <h3>工作中遇到的难点和问题：</h3>
            <ol>
              <li>不熟悉切图，不知道哪些该切图做背景，哪些该自己写出。</li>
              <li>第一次真正接触前端项目，不知道环境如何搭建。</li>
              <li>不明白手机自适应应该怎么做。</li>
              <li>原本通过js监听滚动事件，设置元素的position，来达到实现粘性滚动的目的。结果在ios的微信浏览器上不起作用。</li>
              <li>页面上线之前做了一些小修改，结果出了功能不全的问题，急的团团转。幸好同事耐心帮我一步一步打断点查看bug。</li>
              <li>和产品、设计的交流过少，导致各种问题，比如设计给的是750的稿，没有注释是750的，我就当成640的做了；产品想要字号写死，所有设备显示一样大小，而我做成自适应（可是之前前端组都做的自适应）；案例详情页（设计稿中头部有返回按钮）的弹出，我是对div的display属性进行控制来显示或隐藏，因为感觉就一个小详情没有必要再写一个网页弹出，两个案例详情还得再写两个网页，内容也非常少，真的觉得没必要。但是在提测之后产品才告诉我她要做成网页弹出的，因为想通过浏览器的返回按钮回到原页。总之跟产品的沟通非常不顺畅，弄得有点不开心。被她说是我理解有问题，还被瞧不起了，心里挺不爽的。怎么才能跟产品好好沟通呢？</li>
            </ol>
          </section>


          <section>
            <h3>学到的新知识点：</h3>
            <ol>
              <li>学会了sass的一小部分语法，github的小部分语法。</li>
              <li>手机做自适应的时候，字体自适应用rem实现，并排的块用百分比、float：left实现，注意要在父元素上加上宽度width：100%，图片常将宽设置为100%而高度不设置。</li>
              <li>ios对于scroll事件是有限制的。在滚动时，ios上的部分浏览器（如微信的浏览器）是禁止事件响应和对DOM元素操作所引起的渲染，只有等滚动结束之后才会继续运行js以及重新渲染。例如设置定时器，滚动的时候定时器并不会起作用。</li>
              <li>ios下的粘性滚动可以用css3的sticky特性。不过要注意一些条件:父容器的overflow不能是默认的visible属性,但也不能是hidden属性；粘性元素的底部不能与父容器的底部重合；粘性元素的高度要小于父容器高度。更多条件请自行google。</li>
              <li>上面提到的页面上线之前出现的bug，原因在于js代码和html的dom结构耦合太紧，修改了html后，忘了修改对应的js代码，导致功能错误。以后一定要将js代码和dom结构解耦，不要出现类似element.parentNode.parentNode.parentNode的访问节点的方法，一旦html在对应地方做出改动，后续修改和调试会很麻烦。</li>
              <li>window.location.hash可以控制返回的锚点，但是在ios上并不是很好用，因为反应比较缓慢，有一个缓冲时间，还经常不成功。</li>
              <li>在解决粘性滚动问题时，了解到requestAnimationFrame函数（以下简称raf）。这是浏览器渲染函数，每次浏览器渲染的时候都会带上这个函数执行。所以想要实现一些流畅的动画效果可以考虑用这个函数。相较于对scroll事件进行监听，这个函数能较大幅度提高浏览器性能，因为scroll事件会以高频率进行监听，而raf函数只在浏览器渲染时执行。如果要用scroll的话，最好对其进行稀释（比如设置定时器）以节约cpu资源提高性能。</li>

            </ol>

          </section>

      
          <section>
            <h3>此次工作需要改进的地方：</h3>
            <ol>
              <li>代码结构不清晰，没有按照规范文档来写，注释也比较少</li>
              <li>在做ios粘性滚动的时候不知所措，扒了别人家网站的源码来看，只关注了js部分，没有关注css部分。若早关注css部分，说不定问题早就解决了。下次再扒人家网站的时候，要先看html，再看css，最后看js。</li>
              <li>DOM元素命名混乱，毫无章法。</li>
              <li>问题的解决方式非常不优雅。</li>
            </ol>
          </section>


          <section>
            <h3>后续应该：</h3>
            <ol>
              <li>继续学习和实践sass。</li>
              <li>学习和实践代码规范。</li>
              <li>学习使用jQuery。</li>
              <li>学习和产品、设计的良好及时的沟通交流。</li>
            </ol>
          </section>
        </article>

        
      </div>
    </div>
  </body>
</html>
